@import './variables.scss';

.booking-edit-container {
	background: #fff;
	height: 100%;
	max-width: 100%;
	padding: 32px 0 5rem;
}

.booking-box {
	margin: 0 auto;
	max-width: 61rem;

	main {
		max-width: 38.75rem;
	}

	h2 {
		font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
		display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	}

	#rest-name {
		margin-top: 0px;
	}

	#current-res {
		font-size: 1rem !important;
    font-weight: 700;
    line-height: 1.5rem;
	}

	div {
		display: flex;
		flex-direction: row;
	}
}

#booking-info-bar {
	border-bottom: 1px solid $border-color;
	padding-bottom: 20px;
}

.modify-box {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: relative;
	width: 100%;

	h3 {
		margin: 16px 0 8px;
		font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
		margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	}	
}

#mod-left {
	div {
		border: 0.0625rem solid #d8d9db;
		border-radius: 4px;
		height: 3rem;
	}
}