.auth-form-container {
	border: 4px solid lightgray;
	border-radius: 4px;
	width: 450px;
	height: 750px;
	display: flex;
	justify-content: center;
	margin: auto;
	// padding-top: auto;
}

// .auth-form {
	// display: flex;
	// justify-content: center;
// }

.auth-content-container {
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

small {
	font-size: 2px;
}

.auth-field {
	background: #fff;
	border: 0.0625rem solid #d8d9db;
	border-radius: 4px;
	// box-sizing: border-box;
	color: #2d333f;
	font-size: 16px;
	line-height: 24px;
	padding: 10px;
	margin: 10px;
	// width: max-content;
}

.auth-field:hover {
	border: 0.0625rem solid #2d333f
}

.form-small {
	font-size: 10px;
	color: gray;
}

#auth-button {
	font-size: 16px;
	// display: flex;
	// justify-content: space-around;
	// margin-left: auto;
	// margin-right: auto;
	background-color: var(--red-1);
	color: #fff;
	-webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
	// padding: 10px;
	// border-radius: 4px;
	line-height: 1.15;
}



.auth-button:hover {
	background-color: var(--hover-red);
}

