@import './variables.scss';

.gallery-container {
  @extend %rest-show-section;
}

.rest-show-photos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.rest-show-photos header {
  // height: 10rem;
  border-bottom: 0.1rem solid $secondary-border;
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
  padding-bottom: 16px;
}

.rest-show-photos h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: $red-text;
  line-height: 2rem;
}

.gallery-nav-container {
  height: 100%;
  margin-bottom: 16px;
}

.gallery-container nav {
  box-shadow: inset 0 -0.1rem 0 0 $secondary-border;
  height: 100%;
}

.gallery-nav-container ol {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  scrollbar-width: none;
  white-space: nowrap;
}

.gallery-nav-container li {
  display: inline-block;

  appearance: none;
  background-color: transparent;
  height: 100%;
  color: #6f737b;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 32px 16px 0;
  padding: 0;

  &:hover {
    color: $red-text;
  }

  &:active, &:after, &:focus {
    box-shadow: inset 0 -0.125rem 0 0 #da3743;
  }
}

.photo-gallery {
	display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  height: 18rem;
  gap: 4px 4px;
  grid-auto-flow: row;
  grid-template-areas:
    "pic-1 pic-2 pic-3"
    "pic-1 pic-4 pic-5";
}


.photo-gallery button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid $border-color;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
}

.pic-1 { grid-area: pic-1; }

.pic-2 { grid-area: pic-2; }

.pic-3 { grid-area: pic-3; }

.pic-4 { grid-area: pic-4; }

.pic-5 {
  grid-area: pic-5;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
