@import './variables.scss';

.gallery-container {
  @extend %rest-show-section;
}

.rest-show-photos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.rest-show-photos header {
  border-bottom: 0.1rem solid $secondary-border;
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
  padding-bottom: 16px;
}

.rest-show-photos h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: $red-text;
  line-height: 2rem;
}

.gallery-nav-container {
  height: 100%;
  margin-bottom: 16px;
}

.rest-info-nav-buttons nav {
  height: 100%;
}

.gallery-container nav {
  box-shadow: inset 0 -0.1rem 0 0 $secondary-border;
  height: 100%;
}

.gallery-nav-container ol, .rest-info-nav-buttons ol {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  scrollbar-width: none;
  white-space: nowrap;
}

.gallery-nav-container li, .rest-info-nav-buttons li {
  display: inline-block;
  appearance: none;
  background-color: transparent;
  height: 100%;
  color: #6f737b;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 32px 16px 0;
  padding: 0;
  
  &:hover, &:visited {
    color: $red-text;
    box-shadow: inset 0 -0.125rem 0 0 #da3743;
  }

  &:active, &:visited {
    box-shadow: inset 0 -0.125rem 0 0 #da3743;
  }
}

.photo-gallery {
	display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  height: 18rem;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "pic-1 pic-2 pic-3"
    "pic-1 pic-4 pic-5";

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid $border-color;
    border-radius: 4px;
    margin: 0px;
  }
  
  button {
    background-color: transparent;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0;
    margin: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

.pic-1 { grid-area: pic-1; }

.pic-2 { grid-area: pic-2; }

.pic-3 { grid-area: pic-3; }

.pic-4 { grid-area: pic-4; }

.pic-5 {
  grid-area: pic-5;
  background-color: rgba(0, 0, 0, 0.5) !important;
  position: relative;
  text-align: center;
  z-index: 10;
  border-radius: 4px;
  
  div {
    background-color: rgba(0,0,0,.5);
    display: flex;
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    border: none;
  }
  
  #ptag {
    border: 0px;
    align-self: center;
    z-index: 1;
    color: #fff;
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    // border: none;
    border-radius: 4px;
  }
}


#outer-gallery-container {
  position: absolute;
  z-index: 0;
  height: 100vw;
  width: 100vw;
  // height: fit-content;
  // width: fit-content;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.8);
}

.gallery-modal-container {
  position: absolute;
  z-index: 20;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  button {
    background-color: transparent;
    border: none;
    height: fit-content;
    width: fit-content;
  }



  .directional-btn {
    color: white;
    height: 50px;
    width: 50px;

  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  #modal-img {
    animation: fadeIn 1s;
    grid-area: img;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    z-index: 20;
    width: 32vw;
    // height: 30vw;
    margin: auto;
  }
}

#back, #advance {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 50px;
}