@import './variables.scss';

.menu-container {
	@extend %rest-show-section;
	-webkit-font-styling: antialiased !important;
}


.menu-header {
	@extend %rest-show-section-header;
}

// .menu-header div {

// }

.menu-header h2 {
	@extend %rest-show-section-h2;
}

.menu ul {

    list-style: none;
    margin: 16px 0 0;
    padding: 0;
		height: fit-content;
		display: grid; 
		grid-auto-columns: 1fr; 
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: repeat(auto-fill, 100x); 
		gap: 0em 32px; 
		grid-template-areas: 
			". ."; 
}

.menu li {
	display: flex;
	// border: 1px solid black;
	flex-direction: column;
	height: fit-content;
	margin-bottom: 16px;
	page-break-inside: avoid;
	display: list-item;
	text-align: -webkit-match-parent;
	-webkit-font-styling: antialiased;
	margin: 16px 0 0;
 
}

.menu h4 {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

.menu p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 13px;
	color: $red-text;
	font-weight: 400;
	line-height: 18px;
	margin: 8px 0 0;
}