html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-text-size-adjust: 100%;
	line-height: 1.15;
	// height: 100vw;
}

@import "./variables.scss";

.outer-body {
	display: grid;
	grid-template-columns: auto 85vw auto;
	grid-template-rows: 16px 100vw 300px;
	// height: 100%;
	background-color: $background-color;
}

.outer-body .inner-body {
	background-color: #fff;
	grid-column-start: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	margin-top: 10px;
}

.inner-body {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto fit-content 1fr;
	height: fit-content;
	-webkit-font-smoothing: antialiased !important;
	-webkit-font-styling: antialiased !important;

}

.dynamic-star-container {
	margin-right: -2px !important;
}