@import './variables.scss';

.search-results-container {
	position: relative;
	min-height: 10vw;
	max-height: fit-content;
	// width: 100%;
	display: grid;
	grid-template-columns: 1fr 14.1rem 45rem 1fr;
	grid-template-rows: 100px fit-content;
	padding: 16px 16px 0;
	grid-template-areas:
	'header header header header'
	'. filters resindex .';
	justify-content: center;
	padding: 24px 24px 0;
	margin-bottom: 24px;
}

.search-header {
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin: auto;
	grid-area: header;
	background-image: url(//cdn.otstatic.com/cfe/9/images/dtp-desktop-efc049.png);
	width: 90%;
	height: 100px;
}

.search-header > div {
	display: flex;
	flex-direction: row;
}


.filters-container {
	grid-area: filters;
	padding-top: 6rem;
	padding-right: .1rem;
	margin-right: 1rem;

	section {
		border-bottom: 0.0625rem solid #d8d9db;
		padding-bottom: 8px;
		padding-top: 8px;
	}

	h5 {
		color: $red-text;	
		align-items: center;
    margin: 0 0 8px;
		font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem
	}

	img {
		height: 20px;
		width: 20px;
		vertical-align:text-bottom;
		border-radius: 4px;
	}

	img, input {
		margin-right: 8px;
		vertical-align: text-bottom;
	}
}

.filters-container > section > div {
	display: flex;
	flex-direction: column;
	height: fit-content;
	
	img {
		height: 20px;
		width: 20px;
	}
	
	div {
		margin-bottom: 4px;

		&:hover {
			text-decoration: underline;
		}
	}

	label {
		font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
	}
}

input[type=checkbox].input-checkbox {
	width: 20px;
	height: 20px;
	// outline: 2px solid black;
	border: none;
}

input[type=checkbox].input-checkbox:checked {
	accent-color: $main-red;
}

.results-index-container {
	grid-area: resindex;
	display: flex;
	flex-direction: column;
	height: fit-content;
}

#price-filter-buttons {
	display: flex;
	flex-direction: row;
	height: fit-content;
	align-items: center;
	justify-content: center;

	div {
		position: relative;
		display: flex;
		justify-content: center;
		width: 73px;
		z-index: 0;
	}

	div:hover {
		text-decoration: none;
	}

	label {
		// cursor: pointer;
    display: block;
    padding: 0.75rem 0;
		position: relative;
		display: inline-block;
		align-items: center;
		background-color: white;
		border: 0.1rem solid #d8d9db;
		width: 73px;
		justify-content: space-around;
		text-align: center;
		border-radius: 4px;
		// z-index: 1000;
	}

	label:hover {
		cursor:pointer;
		background-color: $ash-lightest;
		border: 0.1rem solid $yellow;
	}

	input[type=checkbox] {
    cursor: pointer;
		appearance: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
	}



	input[type=checkbox].input-checkbox:checked + label {
		// appearance:inherit;
		accent-color: $ash-darker;
		background-color: $ash-darker;
		background: $ash-darker;
		color: #fff;
	}

	span {
		text-align: center;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	button {
		display: inline-block;
		background-color: white;
		border: 0.0625rem solid #d8d9db;
	}

	button:hover {
		cursor:pointer;
		background-color: $ash-lightest;
		border: 2px solid $yellow;
	}

	button:after, button:focus {
		background-color: $ash-darker;
		color: #fff;
	}
}

#search-summary {
	margin: 0 0 16px;
	padding-top: 16px;
	padding-bottom: 1rem;
	display: block;
	color: #2d333f;
	-webkit-font-smoothing: antialiased;

	h2 {
		font-weight: 500 !important;
    margin-top: 0;
		display: block;
    font-size: 1.5rem;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	}
}

#restaurant-cards {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 1rem;
	border-top: 0.1rem solid #f1f2f4;
}

#restaurant-card {
	display: flex;
	flex-direction: row;
	padding: 0 0 16px;
	display: flex;
	margin-bottom: 16px;
	padding: 0 16px 16px;
	position: relative;
	border-bottom: 0.0625rem solid #d8d9db;

	a {
		background-color: transparent;
		
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

#card-img-container {
	height: fit-content;
	width: fit-content;

	img {
		height: 205px;
		width: 205px;
		object-fit: cover;
		border-radius: 4px;
		box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	}
}

#card-details {
	margin-left: 16px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#card-details > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	left: auto;
	margin-left: 0;
	position: inherit;
	width: auto;
	margin-bottom: 4px;

	a {
		display: flex;
    text-decoration: none;
		background-color: transparent;
		height: fit-content !important;
	}

	h6 {
		color: #247f9e;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    word-break: break-word;
		display: block;
	}

	p {
		color: #2d333f;
    display: inline;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-right: 8px;
		margin-left: 8px;
		vertical-align: text-bottom;
	}
}
#card-details > ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 8px 0 0;
	padding: 0;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

#review-count {
	color: #2d333f;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-decoration: none;
}

#card-fine-details {
	margin-bottom: 4px;
	color: #2d333f;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-left: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(100% - 2.1875rem);
	-webkit-font-smoothing: antialiased;
}