@import './variables.scss';

.user-show-container {
	background-color: $background-color;
	height: fit-content;
}

.user-show-header {
	background: #fff;
	border-bottom: 0.0625rem solid #d8d9db;
	width: 100%;

	div {
		margin: auto;
    max-width: 64rem;
    padding: 16px 1.5rem;
	}

	h1 {
		color: #2d333f;
    display: flex;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
	}
}

.user-show-flex-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	color: #2d333f;
	margin: auto;
	max-width: 64rem;
	padding: 0 1.5rem 64px;
	width: 100%;
}

.user-show-left-col {
	padding: 32px 0;
	width: 250px;
	height: 30rem;
	// width: 30rem;
	display: flex;
	flex-direction: column;

	a {
		margin: 0.75rem 0;
		color: #2d333f;
    text-decoration: none;
	}
}

.showing {
font-weight: 700;
}

.user-show-right-col {
	color: $red-text !important;
	-webkit-font-smoothing: antialiased !important;
	margin: 32px 16px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	margin: 1.5rem 0;
	padding: 1.5rem;
	width: 100%;
}

.reservations-list {
	padding: 2rem;
	background-color: #fff;
}

.reservations-list > h2 {
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
}

#res-list-box {
	margin-top: 16px;
	align-self: auto;
	border: 0.0625rem solid #d8d9db;
	border-radius: 4px;
	box-shadow: none;
	display: grid;
	flex-direction: row;
	grid-template-areas: "image details points";
	grid-template-columns: 1fr 4fr 1fr;
	justify-content: space-between;
	padding: 16px;
	text-decoration: none !important;
	color: $red-text;
	transition: all 75ms;

	&:hover {
		box-shadow: 0 2px 4px rgba(45, 51, 63, 0.2);
	}
}

#res-list-box > img {
	border-radius: 4px;
	height: 8rem;
	width: 8rem;
	border-radius: 4px 4px 0 0;
	grid-area: image;
	object-fit: cover;
}

#res-list-box > div {
	grid-area: details;
	display: flex;
	flex-direction: column;
	padding-left: 16px;

	h3 {
		padding-left: 4px;
		font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
	}

	span {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 4px;
		font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
		margin-right: 20px;
	}

	div {
		margin-top: 4px;
	}

	img {
		height: 24px;
		width: 24px;
		margin-right: 8px;
	}
}

.fa-circle-check {
	color: #39a25e !important;
	margin-right: 8px;
}

.fa-circle-xmark {
	margin-right: 8px;
	color: $main-red !important;
}

#fine-details {
	span {
		font-weight: 400 !important;
		-webkit-font-smoothing: antialiased;
	}
}

.user-edit-main {
	color: $red-text !important;
	-webkit-font-smoothing: antialiased !important;
	background: #fff;
	border-bottom: 0.0625rem solid #d8d9db;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	width: 100%;

	form {
		display: flex;
		flex-direction: column;
	}

	h2 {
		color: #2d333f;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 8px 0 16px;
		display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	}

	button {
		@extend %form-button;
		font-weight: 700;
		margin: 16px 0;
		-webkit-font-smoothing: antialiased;
	}


	small {
		color: #2d333f;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
    margin-top: -0.75rem;
	}
}

#user-edit-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	column-gap: 1rem;
}

#user-edit-input {
	display: flex;
	flex-direction: column; 
	width: 100%;

	label {
		font-family: $auth-font;
		-webkit-font-smoothing: antialiased;
		color: #2d333f;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
	}

	input {
		color: #2d333f;
    font-weight: 400;
    line-height: 24px;
    padding: 0.75rem;
		border: 0.0625rem solid #d8d9db;
    border-radius: 4px;
    color: #2d333f;
    flex-basis: auto;
    line-height: 1.375rem;
    margin-bottom: 16px;
    padding: 12px;
	}
}

#small-input {
	width: 40%;
}

#success-box {
	-webkit-font-smoothing: antialiased !important;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(45, 51, 63, 0.2);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 16px;
	padding: 0.875rem 8px;
	width: 100%;
	background-color: #f0faf3;
	border: 0.0625rem solid #2f864d;

	div {
		flex: 1 1 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 8px;
	}

	img {
		height:24px;
		width: 24px;
		// float: right;
		display: inline-block;
    font-size: 0;
    height: 1.5rem;
    line-height: 1;
    min-width: 1.5rem;
    width: 1.5rem;

		&:hover {
			cursor: pointer;
		}
	}
}

.error-input {
	background-color: #fceeef !important;
	background: #fceeef !important;
}

.user-edit-passwords {
	height: 130px;
}

#password-edit-box {
	height: 120px;
	width: 100%;
}

#error-small {
	color: #931b23;
	font-weight: 500;
	padding-bottom: 20px;
	-webkit-font-smoothing: antialiased;
}


.user-favorites-container {
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
	max-width: 80rem;
	position: relative;
	padding-left: 1rem;
	padding-right: 1rem;
	float: left;
	// margin-top: 2rem;
}

#favs-list-ordered {
	display: flex;
	flex-direction: column-reverse;
}

#saved-header {
	-webkit-font-smoothing: antialiased;
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	border-bottom: 1px solid rgba(0,0,0,.08);
	padding: 1.5rem;
	position: relative;
}

.favorite-list-item-container {
	margin-bottom: 1rem;
	min-height: 10.9375rem;
	border-bottom: 0.0625rem solid #d8d9db;
}

.favorite-list-item-container > div {
	position: relative;
	line-height: 1.5rem;
	z-index: 0;
	padding: 1rem 0;
}

#rest-row-info {
	min-height: 5rem;
	position: relative;
	line-height: 1.5rem;
	z-index: 0;
	display: flex;
	flex-direction: row;
	align-items: center;

	a {
		// max-height: 5rem;
    width: 5rem;
		border-radius: 5px;
    display: block;
    width: fit-content;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
		background-color: transparent;
	}

	button {
		@extend %form-button;
		padding: 0.75rem 1.5rem 0.8125rem;
    font-size: .8125rem;
		margin-bottom: 1rem;
		display: inline-block;
		cursor: pointer;
		border: none;
    font-family: BrandonText,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    text-decoration: none;
    outline: 0;
    border-color: #b8222d;
		border-radius: 3px;
	}
}

#rest-row-info > div {
	display: flex;
	flex-direction: column;
	flex-grow: 2;

	a {
		text-decoration: none;
    margin-right: 4rem;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    clear: both;
    font-size: 1rem;
    color: #333333;
    line-height: 1.5rem;
	}

	div {
		display: flex;
		flex-direction: row;
		align-items: center;
		// justify-content: center;
		font-size: 13px;
    clear: both;
		text-decoration: none;
    line-height: inherit;
	}


	.fa-bookmark {
		height: 15px;
		width: 15px;
		color: $favorites-text;
		padding: none;
		margin-right: 4px;
		text-align: center;
	}
}

#saved-bookmark {
	color: $main-red;
}

#rest-row-info-img {
	border-radius: 5px;
	border: none;
	width: 90px;
	height: 90px;
	object-fit: cover;
	-ms-interpolation-mode: bicubic;
	display: inline-block;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin-right: 1rem;
	// margin-bottom: 1rem;
}

#fav-info {
	color: #666666;
	font-size: 13px;
	clear: both;
	font-family: BrandonText,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

#fav-rest-name {
	margin-bottom: 4px;
	font-weight: 600;
}

#remove-row:hover {
	cursor: pointer;
}

#no-content-message {
	background-color: #fff;
	background: none;
	padding: 2rem;
	border-radius: 5px;
	background: #fff;

	span {
		font-family: BrandonText,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-weight: 500;
    padding: 0;
    margin: 0;
    line-height: 1;
    position: relative;
    cursor: default;
    background: #f7f7f7;
    -webkit-font-smoothing: antialiased;
	}
}
