// import {font-size-base} from 'otkit-typography-desktop/token.cssmodules.css';

html {
  font-size: font-size-base;
}
// css colors
$background-color: #f6f6f6;
$html_greytop: #eff0f2;
$main_font: 'DM Sans', sans-serif;
$auth-font: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
$red: #e03744;
$border-color: #d2d4d6;
$turquoise: #007492;
$roboto: 'Roboto', sans-serif;
$manrope: 'Manrope', sans-serif;
$gray-color: #a7a7a7;
$dark-red: rgb(143, 0, 0);
$red-text: #2d333f;
$box-shadow: 0 0 5px $gray-color;