// import {font-size-base} from 'otkit-typography-desktop/token.cssmodules.css';

html {
  font-size: font-size-base;
}

// FONTS
$main_font: 'DM Sans', sans-serif;
$auth-font: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
$roboto: 'Roboto', sans-serif;
$manrope: 'Manrope', sans-serif;


// COLORS
$background-color: #f6f6f6;
$html_greytop: #eff0f2;
$gray-color: #a7a7a7;
$gray-text: #6f737b;
$dark-red: #8f0000;
$red-text: #2d333f;
$main-red: #da3743;
$red: #e03744;
$border-color: #d2d4d6;
$secondary-border: #d8d9db;
$turquoise: #007492;

// SHADOWS
$box-shadow: 0 0 5px $gray-color;



// restaurant profile templates
%rest-show-section {
  width: 100%;
  margin-top: 64px;
  -webkit-font-smoothing: antialiased;
}

%rest-show-section-header {
  border-bottom: 0.1rem solid $secondary-border;
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
  padding-bottom: 16px;
}

%rest-show-section-h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: $red-text;
  line-height: 2rem;
}